<footer class="bg-gray-100 py-4">
  <div class="container mx-auto px-4">
    <div class="text-center mb-4">
      <h5 class="text-lg font-semibold">Get The FreshCart App</h5>
      <p class="text-gray-600">We Will Send You a Link</p>
    </div>
    <div class="flex items-center gap-3 justify-center mb-4">
      <input
        type="email"
        title="userEmail"
        class="form-input w-3/4 md:w-1/2 border rounded-md py-2 px-3"
        placeholder="Email"
      />
      <button
        class="bg-main-light text-white rounded-full px-4 py-2 hover:bg-main-dark"
      >
        Get App Link
      </button>
    </div>
    <hr class="border-gray-300 mb-4" />
    <div
      class="flex flex-col sm:flex-row justify-center items-center gap-4 mb-4"
    >
      <div class="flex gap-2 justify-center items-center">
        <img
          class="w-12"
          src="../../../../assets/images/app-store-apple-logo.svg"
          role="button"
          alt="Apple App Store"
        />
        <img
          class="w-12"
          src="../../../../assets/images/google-play-badge.svg"
          role="button"
          alt="Google Play Store"
        />
      </div>
      <ul class="flex list-none gap-3 justify-center items-center">
        <li>
          <i
            class="fab fa-facebook text-xl text-gray-600 hover:text-main-dark cursor-pointer"
          ></i>
        </li>
        <li>
          <i
            class="fab fa-instagram text-xl text-gray-600 hover:text-main-dark cursor-pointer"
          ></i>
        </li>
        <li>
          <i
            class="fab fa-whatsapp text-xl text-gray-600 hover:text-main-dark cursor-pointer"
          ></i>
        </li>
        <li>
          <i
            class="fab fa-telegram text-xl text-gray-600 hover:text-main-dark cursor-pointer"
          ></i>
        </li>
      </ul>
    </div>

    <hr class="border-gray-300 mt-5" />
    <div class="text-center mt-4">
      <h6 class="text-sm text-gray-500">
        © 2023
        <span class="text-main font-semibold">Beshoy William</span> , All Rights
        Reserved.
      </h6>
    </div>
  </div>
</footer>
