<div class="container mx-auto mt-5">
  <div class="row">
    <div class="w-9/12 sliderImg">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img
            src="assets/images/slider-image-1.jpeg"
            alt="sliderImage"
            class="w-full"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/images/slider-image-1.jpeg"
            alt="sliderImage"
            class="w-full"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/images/slider-image-1.jpeg"
            alt="sliderImage"
            class="w-full"
          />
        </ng-template>
      </owl-carousel-o>
    </div>

    <div class="w-3/12 staticImg">
      <img
        src="assets/images/slider-image-1.jpeg"
        alt="sliderImage"
        class="w-full"
      />
      <img
        src="assets/images/slider-image-2.jpeg"
        alt="sliderImage"
        class="w-full"
      />
    </div>
  </div>
</div>
