<div class="w-3/4 mx-auto">
  @if(errMsg) {
  <div class="p-0 m-0 mt-3 alert-danger">
    <div class="p-1 m-0">{{ errMsg }}</div>
  </div>
  } @if(emailFormFlag) {
  <h2 class="text-xl font-semibold my-3">Email Confirm</h2>
  <form action="" [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">
    <label for="email">Email: </label>
    <input
      formControlName="email"
      type="text"
      name=""
      id=""
      class="rounded w-full p-1"
    />

    @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
    <div class="p-0 m-0 alert-danger">
      @if(emailForm.get('email')?.errors?.['required']) {
      <p class="p-1 m-0">email is required</p>
      } @if(emailForm.get('email')?.errors?.['email']) {
      <p class="p-1 m-0">email is not valid</p>
      }
    </div>
    } @if(isLoading) {
    <button [disabled]="emailForm.invalid" class="btn-main">
      <span><i class="fa fa-spin fa-spinner"></i></span>
    </button>
    } @else {
    <button [disabled]="emailForm.invalid" class="btn-main">Send Email</button>
    }
  </form>
  }

  <!-- *==================> Code Form <==================* -->
  @if(codeFormFlag) {
  <h2 class="text-xl font-semibold my-3">Code Form</h2>
  <form action="" [formGroup]="codeForm" (ngSubmit)="submitCodeForm()">
    <label for="resetCode">Code: </label>
    <input
      formControlName="resetCode"
      type="text"
      name="code"
      id="resetCode"
      class="rounded w-full p-1"
    />

    @if(codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched)
    {
    <div class="p-0 m-0 alert-danger">
      @if(codeForm.get('resetCode')?.errors?.['required']) {
      <p class="p-1 m-0">resetCode is required</p>
      } @if(codeForm.get('resetCode')?.errors?.['pattern']) {
      <p class="p-1 m-0">resetCode is not valid</p>
      }
    </div>
    } @if(isLoading) {
    <button [disabled]="codeForm.invalid" class="btn-main">
      <span><i class="fa fa-spin fa-spinner"></i></span>
    </button>
    } @else {
    <button [disabled]="codeForm.invalid" class="btn-main">Send Code</button>
    }
  </form>
  }

  <!-- *==================> New Password Form <==================* -->
  @if(newPasswordFlag) {
  <h2 class="text-xl font-semibold my-3">New Password Form</h2>
  <form
    action=""
    [formGroup]="newPassowrdForm"
    (ngSubmit)="submitNewPasswordForm()"
    class="py-2"
  >
    <label for="email" class="mt-4">Email: </label>
    <input
      formControlName="email"
      type="text"
      name="email"
      id="email"
      class="rounded w-full p-1"
      [(ngModel)]="chosedEmail"
      readonly
    />

    @if(newPassowrdForm.get('email')?.errors &&
    newPassowrdForm.get('email')?.touched) {
    <div class="p-0 m-0 alert-danger">
      @if(newPassowrdForm.get('email')?.errors?.['required']) {
      <p class="p-1 m-0">email is required</p>
      } @if(newPassowrdForm.get('email')?.errors?.['email']) {
      <p class="p-1 m-0">email is not valid</p>
      }
    </div>
    }

    <label for="newPassword" class="mt-4">New Password: </label>
    <input
      formControlName="newPassword"
      type="text"
      name=""
      id=""
      class="rounded w-full p-1"
    />

    @if(newPassowrdForm.get('newPassword')?.errors &&
    newPassowrdForm.get('newPassword')?.touched) {
    <div class="p-0 m-0 alert-danger">
      @if(newPassowrdForm.get('newPassword')?.errors?.['required']) {
      <p class="p-1 m-0">newPassword is required</p>
      } @if(newPassowrdForm.get('newPassword')?.errors?.['pattern']) {
      <p class="p-1 m-0">new password is not valid</p>
      }
    </div>
    } @if(isLoading) {
    <button [disabled]="newPassowrdForm.invalid" class="btn-main">
      <span><i class="fa fa-spin fa-spinner"></i></span>
    </button>
    } @else {
    <button [disabled]="newPassowrdForm.invalid" class="btn-main">
      Submit
    </button>
    }
  </form>
  }
</div>
